<%- include('includes/head') %>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-t-50 p-b-90">
                <form class="login100-form validate-form flex-sb flex-w" action="login" method="POST">
                    <span class="login100-form-title p-b-51">
                        <img src="/images/icon.png" width="35%">
                    </span>
                    <span class="login100-form-title p-b-51">
                        MENSAGERIA CHAT
                    </span>
                    <span class="login100-form-title p-b-51">
                        Login
                    </span>


                    <div class="wrap-input100 validate-input m-b-16" data-validate="E-mail é obrigatório">
                        <input class="input100" type="email" name="email" autocomplete autofocus placeholder="E-mail">
                        <span class="focus-input100"></span>
                    </div>


                    <div class="wrap-input100 validate-input m-b-16" data-validate="Senha é obrigatória">
                        <input class="input100" type="password" name="senha" autocomplete placeholder="Senha">
                        <span class="focus-input100"></span>
                    </div>

                    
                    <div>
                        Não tem uma conta? <a href="./cadastro" class="txt1">
                            Cadastre-se
                        </a>
                    </div>
                    
                    <div class="container-login100-form-btn m-t-17">
                        <button type="submit" class="login100-form-btn">
                            Login
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>


<%- include('includes/footer') %>
</body>
