<% if(typeof criarSection=="undefined" || criarSection){ %>
    </section>
<%}%>
<footer class="text-center text-lg-start"  style="padding-top: 15%">
    <div class="text-center p-3" style="color: white; background-color: #403866;">
        © 2022 Copyright:
        <a class="text-light" href="https://github.com/juliapcp/">Julia Pontes Cardoso Pereira</a>
    </div>
</footer>

<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>

<script src="/vendor/animsition/js/animsition.min.js"></script>

<script src="/vendor/bootstrap/js/popper.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>



<script src="/js/main.js"></script>
