<nav class="navbar navbar-expand-lg navbar-light py-3 shadow-sm">
    </a> <button type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbars"
        aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"> <span
            class="navbar-toggler-icon"></span> </button>
    <div id="navbarContent" class="collapse navbar-collapse">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item"><a href="/grupos" class="nav-link font-weight-bold text-uppercase">PÁGINA INICIAL</a>
            </li>
        </ul>
    </div>
</nav>