<%- include('../includes/head') %>
<body>
<%- include('../includes/navbar') %>

<div class="limiter">
    <div class="container">
        <div class="wrap-login100 p-t-5 p-b-90">
            <form class="login100-form validate-form flex-sb flex-w" action="cadastro" method="POST">
                <span class="login100-form-title p-b-51">
                    Criar novo grupo
                </span>


                <div class="wrap-input100 validate-input m-b-16" data-validate="Nome é obrigatório">
                    <input class="input100" type="text" name="nome" autocomplete autofocus placeholder="Nome">
                    <span class="focus-input100"></span>
                </div>

                <div class="container-login100-form-btn m-t-17">
                    <button type="submit" class="login100-form-btn">
                        Criar
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>


<%- include('../includes/footer') %>

</body>
